$icomoon-font-path: "fonts" !default;

$kb-email: "\e923";
$kb-at: "\e923";
$kb-anycloud: "\e922";
$kb-cloud: "\e922";
$kb-laptop: "\e921";
$kb-av-udstyr: "\e920";
$kb-printer: "\e91f";
$kb-klimaskrm: "\e91b";
$kb-climaetscreen: "\e91b";
$kb-belysning: "\e918";
$kb-it-analysis: "\e914";
$kb-it_analysis: "\e914";
$kb-vm: "\e912";
$kb-util-ratio: "\e911";
$kb-util_ratio: "\e911";
$kb-utilization_ratio: "\e911";
$kb-utilization-ratio: "\e911";
$kb-kwh-price: "\e931";
$kb-vm-expansion: "\e932";
$kb-network-expansion: "\e933";
$kb-storage-expansion: "\e934";
$kb-server-expansion: "\e935";
$kb-status-2: "\e904";
$kb-status-3: "\e905";
$kb-status-4: "\e906";
$kb-status-5: "\e915";
$kb-status-6: "\e91c";
$kb-status-7: "\e91d";
$kb-status-1: "\e91e";
$kb-admin: "\e900";
$kb-certificate: "\e901";
$kb-chart-arrow-down: "\e902";
$kb-co2-cloud-path1: "\1f5f5";
$kb-co2-cloud-path2: "\1f5f6";
$kb-co2-cloud-path3: "\1f5f7";
$kb-co2-cloud-path4: "\1f5f8";
$kb-dashboard: "\e907";
$kb-datacenter: "\e908";
$kb-energiledelse: "\e909";
$kb-eoptimo-fee: "\e90a";
$kb-feedback: "\e90b";
$kb-generic: "\e90c";
$kb-inbox: "\e90d";
$kb-investment: "\e90e";
$kb-logo: "\e90f";
$kb-kickback-rate: "\e910";
$kb-network: "\e913";
$kb-server: "\e903";
$kb-settings: "\e916";
$kb-cooling: "\e917";
$kb-kl: "\e917";
$kb-storage: "\e919";
$kb-ups: "\e91a";
$kb-ups-overhead: "\e91a";
$kb-ups_overhead: "\e91a";

